.u-section-1 .u-sheet-1 {
  min-height: 526px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 43px auto 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 341px;
  width: 354px;
  margin: 43px auto 0;
}

.u-section-1 .u-text-3 {
  margin: -150px 505px 60px auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-3 {
    margin-right: 416px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-3 {
    margin-right: 319px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-3 {
    margin-right: 239px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 150px;
  }
}